@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
/* line 2, ../sass/base/_base.scss */
body {
  background-image: url("../img/b-g.jpg");
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 16px;
}
/* line 7, ../sass/base/_base.scss */
body::-webkit-scrollbar {
  display: none;
}

/* line 12, ../sass/base/_base.scss */
.section-padding {
  padding: 3em 0;
}

/* line 17, ../sass/base/_base.scss */
.heading {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  margin-bottom: 20px;
}

/* line 24, ../sass/base/_base.scss */
.primary-btn {
  text-align: center;
  text-transform: uppercase;
  background: #3f145b;
  color: #fff;
  padding: 14px 20px;
  margin: 20px 0;
  border-radius: 3px;
  letter-spacing: 2px;
  border: none;
  font-weight: 500;
}
/* line 35, ../sass/base/_base.scss */
.primary-btn:hover, .primary-btn:focus {
  background-color: #5b0791;
  color: #fff;
}

/* line 41, ../sass/base/_base.scss */
a:hover {
  text-decoration: none;
  outline: none;
}

/* line 47, ../sass/base/_base.scss */
.owl-nav {
  text-align: center;
}
/* line 49, ../sass/base/_base.scss */
.owl-nav button {
  font-size: 1.5em !important;
}

/* line 1, ../sass/module/_nav.scss */
.trans-back {
  background-color: transparent !important;
  box-shadow: 0px 0px 0px 0px #3f145b !important;
  transition: 0.5s;
}
/* line 5, ../sass/module/_nav.scss */
.trans-back .nav-serv {
  transition: 0.5s;
  padding-top: 20px;
}
/* line 8, ../sass/module/_nav.scss */
.trans-back .nav-serv .group:hover {
  box-shadow: 0px 0px 5px 4px #3f145b !important;
}

/* line 14, ../sass/module/_nav.scss */
.navbar {
  border-radius: 0px;
  box-shadow: 0px 0px 5px 1px #3f145b;
}

/* line 18, ../sass/module/_nav.scss */
.navbar-inverse {
  background-color: #2f0e44;
  transition: 0.5s;
  border: none;
}
/* line 23, ../sass/module/_nav.scss */
.navbar-inverse .navbar-brand {
  color: #fff;
  padding: 3px 10px;
}
/* line 26, ../sass/module/_nav.scss */
.navbar-inverse .navbar-brand img {
  width: 45px;
}
/* line 29, ../sass/module/_nav.scss */
.navbar-inverse .navbar-brand:hover {
  color: #fff;
}
/* line 33, ../sass/module/_nav.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
/* line 35, ../sass/module/_nav.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #5b0791;
}
/* line 40, ../sass/module/_nav.scss */
.navbar-inverse .nav-serv {
  color: #fff;
  transition: 0.5s;
  padding-bottom: 10px;
}
/* line 44, ../sass/module/_nav.scss */
.navbar-inverse .nav-serv .group {
  display: flex;
  transition: 0.2s;
  cursor: pointer;
}
/* line 48, ../sass/module/_nav.scss */
.navbar-inverse .nav-serv .group:hover {
  box-shadow: 0px 0px 5px 4px #703f90;
}
/* line 51, ../sass/module/_nav.scss */
.navbar-inverse .nav-serv .group .icon {
  width: 25%;
}
/* line 54, ../sass/module/_nav.scss */
.navbar-inverse .nav-serv .group .caption {
  width: 50%;
  padding-top: 15px;
}
/* line 57, ../sass/module/_nav.scss */
.navbar-inverse .nav-serv .group .caption .txt-dis {
  text-align: left;
}

@media screen and (min-width: 767px) {
  /* line 67, ../sass/module/_nav.scss */
  .nav-serv--md {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 72, ../sass/module/_nav.scss */
  .navbar-inverse .nav-serv {
    padding: 7px 0px;
  }
  /* line 74, ../sass/module/_nav.scss */
  .navbar-inverse .nav-serv .group .icon {
    width: 65%;
    margin: 0px auto;
  }

  /* line 79, ../sass/module/_nav.scss */
  .nav-serv {
    display: none;
  }

  /* line 82, ../sass/module/_nav.scss */
  .nav-serv--md {
    display: block;
    position: absolute;
  }
  /* line 85, ../sass/module/_nav.scss */
  .nav-serv--md .col-xs-2 {
    margin: 0px auto;
  }

  /* line 89, ../sass/module/_nav.scss */
  .trans-back .nav-serv {
    padding-top: 10px;
  }

  /* line 93, ../sass/module/_nav.scss */
  .navbar-nav {
    background: #3f145b;
    margin: 0.5px -15px;
  }

  /* line 97, ../sass/module/_nav.scss */
  .navbar-inverse .navbar-collapse {
    border-color: transparent;
  }
}
@media screen and (max-width: 450px) {
  /* line 102, ../sass/module/_nav.scss */
  .navbar-inverse .nav-serv .group .caption {
    padding-top: 0px;
  }

  /* line 105, ../sass/module/_nav.scss */
  .trans-back .nav-serv {
    padding-top: 10px;
  }

  /* line 108, ../sass/module/_nav.scss */
  .nav-serv .col-xs-3 {
    padding-right: 5px;
    padding-left: 10px;
  }
}
/* line 114, ../sass/module/_nav.scss */
.btn--md {
  border-radius: 50%;
  position: fixed;
  z-index: 777;
  top: 50%;
  right: 0;
}
/* line 120, ../sass/module/_nav.scss */
.btn--md:focus {
  outline: none;
}
/* line 123, ../sass/module/_nav.scss */
.btn--md:active {
  outline: none;
}

/* line 2, ../sass/module/_about.scss */
.about img {
  padding: 10px 0;
  transition: 0.2s;
}
/* line 5, ../sass/module/_about.scss */
.about img:hover {
  border-bottom-right-radius: 50px;
}

/* line 12, ../sass/module/_about.scss */
.owl-carousel .owl-nav button {
  outline: none;
  width: 50%;
  transform: translateY(-12px);
}
/* line 17, ../sass/module/_about.scss */
.owl-carousel .owl-nav i {
  color: #fff !important;
  background-color: #3f145b !important;
  padding: 3px 10px !important;
  width: 100%;
  transition: 0.2s;
}
/* line 23, ../sass/module/_about.scss */
.owl-carousel .owl-nav i:active {
  background: #905bb3 !important;
}

/* line 30, ../sass/module/_about.scss */
.carousel-wrap .owl-carousel .extra {
  position: absolute;
  z-index: 99;
  bottom: 10px;
  right: 0;
  opacity: 0;
  padding: 10px 0px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: rgba(63, 20, 91, 0.4);
  transition: 0.2s;
}
/* line 43, ../sass/module/_about.scss */
.carousel-wrap .owl-carousel:hover .extra {
  opacity: 1;
}

/* line 1, ../sass/module/_services.scss */
.services {
  background-color: rgba(63, 20, 91, 0.8);
}
/* line 3, ../sass/module/_services.scss */
.services .heading {
  color: #fff;
}
/* line 7, ../sass/module/_services.scss */
.services .nav-tabs li a {
  color: #fff;
}
/* line 10, ../sass/module/_services.scss */
.services .nav-tabs li a:hover {
  color: #3f145b;
}
/* line 15, ../sass/module/_services.scss */
.services .nav-tabs > li.active > a, .services .nav-tabs > li.active > a:focus, .services .nav-tabs > li.active > a:hover {
  color: #3f145b;
  font-weight: bold;
}
/* line 19, ../sass/module/_services.scss */
.services .tab-content {
  padding: 20px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
/* line 26, ../sass/module/_services.scss */
.services .carousel {
  padding-top: 45px;
}

/*  bhoechie tab */
/* line 2, ../sass/module/_clients.scss */
div.bhoechie-tab-container {
  z-index: 10;
  background-color: #ffffff;
  padding-bottom: 10px !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 20px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}

/* line 17, ../sass/module/_clients.scss */
div.bhoechie-tab-menu {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}

/* line 22, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group {
  margin-bottom: 0;
}

/* line 25, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group > a {
  margin-bottom: 0;
}

/* line 28, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group > a .glyphicon,
div.bhoechie-tab-menu div.list-group > a .fa {
  color: #3f145b;
}

/* line 32, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group > a:first-child {
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}

/* line 36, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group > a:last-child {
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}

/* line 40, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group > a.active,
div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
div.bhoechie-tab-menu div.list-group > a.active .fa {
  background-color: #3f145b;
  color: #ffffff;
}

/* line 46, ../sass/module/_clients.scss */
div.bhoechie-tab-menu div.list-group > a.active:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #3f145b;
}

/* line 58, ../sass/module/_clients.scss */
div.bhoechie-tab-content {
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

/* line 65, ../sass/module/_clients.scss */
div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
  display: none;
}

/* line 70, ../sass/module/_clients.scss */
.clients .list-group-item {
  padding: 20px 0;
}
/* line 73, ../sass/module/_clients.scss */
.clients--content {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  color: #3f145b;
}
/* line 80, ../sass/module/_clients.scss */
.clients--content img {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 83, ../sass/module/_clients.scss */
.clients--content h4 {
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
  font-weight: bold;
}
/* line 89, ../sass/module/_clients.scss */
.clients--content:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  cursor: zoom-in;
}

@media only screen and (max-width: 750px) {
  /* line 99, ../sass/module/_clients.scss */
  .clients div.bhoechie-tab-menu div.list-group > a.active:after {
    display: none;
  }
}
/* line 1, ../sass/module/_testimonial.scss */
.testimonial_subtitle {
  color: #3f145b;
  font-size: 12px;
}

/* line 5, ../sass/module/_testimonial.scss */
.testimonial_btn {
  background-color: #3f145b !important;
  color: #fff !important;
}

/* line 1, ../sass/module/_gallery.scss */
.gallery--item {
  position: relative;
  padding-top: 15px;
}

/* line 6, ../sass/module/_gallery.scss */
.overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(63, 20, 91, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  cursor: pointer;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}

/* line 22, ../sass/module/_gallery.scss */
.gallery--item:hover .overlay {
  opacity: 1;
}

/* line 1, ../sass/module/_contact.scss */
.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://www.trekkingmart.com/public/images/upload/package/slider/pimage_bhaktapur-durbar-square-sightseeing-1.jpg");
  background-size: cover;
  color: #fff;
}

/* line 1, ../sass/module/_footer.scss */
footer {
  background-color: #3f145b;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  color: #fff;
  border-top: 5px solid #2f0e44;
}
/* line 6, ../sass/module/_footer.scss */
footer .footer-logo {
  padding-bottom: 10px;
}
/* line 9, ../sass/module/_footer.scss */
footer h3 {
  font-weight: bold;
}
/* line 12, ../sass/module/_footer.scss */
footer ul {
  display: inline;
}
/* line 14, ../sass/module/_footer.scss */
footer ul li {
  list-style-type: none;
}
/* line 16, ../sass/module/_footer.scss */
footer ul li a {
  color: #fff;
  transition: 0.2s;
}
/* line 19, ../sass/module/_footer.scss */
footer ul li a:hover {
  color: #c0c0c0;
  border-left: 2px solid #fff;
  padding-left: 10px;
}
/* line 27, ../sass/module/_footer.scss */
footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* line 32, ../sass/module/_footer.scss */
footer .social {
  color: #fff;
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/* line 42, ../sass/module/_footer.scss */
footer #social-fb:hover {
  color: #3B5998;
}
/* line 45, ../sass/module/_footer.scss */
footer #social-tw:hover {
  color: #4099FF;
}
/* line 48, ../sass/module/_footer.scss */
footer #social-gp:hover {
  color: #d34836;
}
/* line 51, ../sass/module/_footer.scss */
footer #social-em:hover {
  color: #f39c12;
}

/* line 56, ../sass/module/_footer.scss */
.copyright {
  background-color: #2f0e44;
  color: #fff;
  bottom: 0;
}
/* line 60, ../sass/module/_footer.scss */
.copyright h4 {
  margin: 0;
  padding: 10px 0;
}

/* line 2, ../sass/module/_team.scss */
.team h2 {
  font-weight: bold;
}
/* line 5, ../sass/module/_team.scss */
.team span {
  font-style: italic;
}
/* line 8, ../sass/module/_team.scss */
.team p {
  padding: 10px 0;
}
/* line 11, ../sass/module/_team.scss */
.team .social {
  color: #3f145b;
}
/* line 14, ../sass/module/_team.scss */
.team--member {
  padding: 20px 0;
}

